    <div class="main">
        <div class="img_censo">

            <div class="txt_censo">
                <div class="title">
                    <p>Por que apoiar o ADApt?</p>
                </div>
                <div class="txt">
                    <p>Você já tentou achar a taxa de pessoas com deficiência na cidade Jaraguá do Sul, Santa Catarina? Pois é, se você procurar em seu navegador, dificilmente encontrará uma taxa recente, ou ao menos algum índice depois de 2010. Por isso, desenvolvemos esse software para realizar o cadastro de todas as pessoas que têm alguma deficiência.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="solucoes">
        <div class="title_solucoes">
            <p>Conheça soluções<span><br>Seja ajudado, veja abaixo:</span></p>
        </div>

        <div class="cards_solucoes">
            <div class="card_1">
                <div class="img">
                    <img src="../img/lions.png" alt="">
                </div>
                <div class="title">
                    <p>Associação de Pais e Aigos do Excepcional</p>
                </div>
                <div class="txt">
                    <p>Promove o entendimento em escala internacional, atendendo causas humanitárias.</p>
                </div>
                <div class="local">
                    <p>Jaraguá do Sul, SC</p>
                </div>
            </div>

            <div class="card_2">
                <div class="img">
                    <img src="../img/upDown.png" alt="">
                </div>
                <div class="title">
                    <p>União de Pais pela Síndrome de Down</p>
                </div>
                <div class="txt">
                    <p>Promover o desenvolvimento social da pessoa com T21, proporcionando a sua efetiva inclusão.</p>
                </div>
                <div class="local">
                    <p>Jaraguá do Sul, SC</p>
                </div>
            </div>

            <div class="card_3">
                <div class="img">
                    <img src="../img/ama.png" alt="">
                </div>
                <div class="title">
                    <p>Associação de Amigos do Autista</p>
                </div>
                <div class="txt">
                    <p>Oferecer à família da pessoa com autismo instrumentos para a convivência no lar e em sociedade.</p>
                </div>
                <div class="local">
                    <p>Jaraguá do Sul, SC</p>
                </div>
            </div>
        </div>

        <div class="btn">
            <button class="btn_solucoes"><a href="../pages/solucoes.html">Conheça mais</a></button>
        </div>

        <div class="vejat">
            <div class="title_solucoes">
                <p>Veja também<span><br>Atual número de deficientes cadastrados:</span></p>
            </div>

            <div class="info">
                <div class="num">
                    <p>9.999</p>
                </div>

                <div class="txt_info">
                    <p>Atualmente a cidade Jaraguá do Sul, Santa Catarina, está com uma taxa de 17% de pessoas com deficiência, equivalente à 9.999 habitantes.</p>
                </div>
            </div>
        </div>