    <main>
        <div class="form">
            <p>CONTATE-NOS</p>
            <form action="">
                <input id="form_item" type="email" class="email" placeholder="E-mail">
                <input id="form_item" type="password" class="senha" placeholder="Senha">
                <input id="form_item" type="text" class="msg" placeholder="Digite sua mensagem">
    
                <button type="submit">ENVIAR</button>
            </form>
        </div>
    </main>