<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      <div class="modal-body">
        <div class="login-container">
          <h1>Cadastre-se</h1>
        </div>
        <form action="/register" method="post">
          <label for="name">Usuário</label>
          <input type="text" name="name"/>
          <label for="email">E-mail</label>
          <input type="text" name="email" />
          <label for="password">Senha</label>
          <input type="password" name="password"/>
          <label for="repeatPassword">Insira a senha novamente</label>
          <input type="password" name="repeatPassword" />
          <button type="submit">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>