    <div class="solucoes">
        <div class="title">
            <div class="title_solucoes">
                <p>Conheça soluções<span><br>Seja ajudado, veja abaixo:</span></p>
            </div>

            <div class="cardssolucoes">
                <div class="card1">
                    <div class="img">
                        <img src="../img/lions 1.png" alt="">
                    </div>

                    <div class="info">
                        <div class="titleInfo">
                            <p>Lions Clube International</p>
                        </div>
                        <div class="txtInfo">
                            <p>O Lions Clube - Jaraguá Centro faz parte de uma das maiores ONG do mundo. Lions Clubs International é uma organização internacional de clubes de serviço cujo objetivo é promover o entendimento entre as pessoas em uma escala internacional, atender a causas humanitárias, e promover trabalhos voltados a comunidades locais.</p>
                        </div>

                        <div class="local">
                            <p>Jaraguá do Sul, SC</p>
                        </div>

                        <div class="contatos">
                            <a href="https://www.lionsclubs.org/pt/discover-our-clubs/about-us#:~:text=Entre%20em%20contato%20com%20LCIF%20300%20W.%2022nd,caridade%20p%C3%BAblica%20isenta%20de%20impostos%20501%20%28c%29%20%283%29."><img src="../img/icons/tel_l.svg" alt="" class="img1"></a>
                            <a href="https://www.lionsclubs.org/pt/discover-our-clubs/about-us#:~:text=Entre%20em%20contato%20com%20LCIF%20300%20W.%2022nd,caridade%20p%C3%BAblica%20isenta%20de%20impostos%20501%20%28c%29%20%283%29."><img src="../img/icons/email_l.svg" alt="" class="img2"></a>
                            <a href="https://www.instagram.com/lionsclubs/"><img src="../img/icons/insta_l.svg" alt="" class="img3"></a>
                        </div>
                    </div>
                </div>

                <div class="card2">
                    <div class="img">
                        <img src="../img/lions 2.png" alt="">
                    </div>

                    <div class="info">
                        <div class="titleInfo">
                            <p>União de Pais pela Síndrome de Down</p>
                        </div>
                        <div class="txtInfo">
                            <p>O Lions Clube - Jaraguá Centro faz parte de uma das maiores ONG do mundo. Lions Clubs International é uma organização internacional de clubes de serviço cujo objetivo é promover o entendimento entre as pessoas em uma escala internacional, atender a causas humanitárias, e promover trabalhos voltados a comunidades locais.</p>
                        </div>

                        <div class="local">
                            <p>Jaraguá do Sul, SC</p>
                        </div>

                        <div class="contatos">
                            <a href="https://euvoluntario.sesisenai.org.br/detalhes-instituicao/9"><img src="../img/icons/tel_r.svg" alt="" class="img1"></a>
                            <a href="https://euvoluntario.sesisenai.org.br/detalhes-instituicao/9"><img src="../img/icons/email_r.svg" alt="" class="img2"></a>
                            <a href="https://www.facebook.com/updownjaragua/"><img src="../img/icons/insta_r.svg" alt="" class="img3"></a>
                        </div>
                    </div>
                </div>

                <div class="card3">
                    <div class="img">
                        <img src="../img/lions 3.png" alt="">
                    </div>

                    <div class="info">
                        <div class="titleInfo">
                            <p>Associação de Amigos do Autista</p>
                        </div>
                        <div class="txtInfo">
                            <p>O Lions Clube - Jaraguá Centro faz parte de uma das maiores ONG do mundo. Lions Clubs International é uma organização internacional de clubes de serviço cujo objetivo é promover o entendimento entre as pessoas em uma escala internacional, atender a causas humanitárias, e promover trabalhos voltados a comunidades locais.</p>
                        </div>

                        <div class="local">
                            <p>Jaraguá do Sul, SC</p>
                        </div>

                        <div class="contatos">
                            <a href="https://www.ama.org.br/site/contato/"><img src="../img/icons/tel_a.svg" alt="" class="img1"></a>
                            <a href="https://www.ama.org.br/site/contato/"><img src="../img/icons/email_a.svg" alt="" class="img2"></a>
                            <a href="https://www.instagram.com/associacaoauma/"><img src="../img/icons/insta_a.svg" alt="" class="img3"></a>
                        </div>
                    </div>
                </div>

                <div class="card4">
                    <div class="img">
                        <img src="../img/lions 4.png" alt="">
                    </div>

                    <div class="info">
                        <div class="titleInfo">
                            <p>RETINA Santa Catarina</p>
                        </div>
                        <div class="txtInfo">
                            <p>O Lions Clube - Jaraguá Centro faz parte de uma das maiores ONG do mundo. Lions Clubs International é uma organização internacional de clubes de serviço cujo objetivo é promover o entendimento entre as pessoas em uma escala internacional, atender a causas humanitárias, e promover trabalhos voltados a comunidades locais.</p>
                        </div>

                        <div class="local">
                            <p>Jaraguá do Sul, SC</p>
                        </div>

                        <div class="contatos">
                            <a href="https://retinabrasil.org.br/contato/"><img src="../img/icons/tel_v.svg" alt="" class="img1"></a>
                            <a href="https://retinabrasil.org.br/contato/"><img src="../img/icons/email_v.svg" alt="" class="img2"></a>
                            <a href="https://www.instagram.com/retinasantacatarina/"><img src="../img/icons/insta_v.svg" alt="" class="img3"></a>
                        </div>
                    </div>
                </div>

                <div class="card5">
                    <div class="img">
                        <img src="../img/lions 5.png" alt="">
                    </div>

                    <div class="info">
                        <div class="titleInfo">
                            <p>Associação de Pais e Amigos do Excepcional</p>
                        </div>
                        <div class="txtInfo">
                            <p>O Lions Clube - Jaraguá Centro faz parte de uma das maiores ONG do mundo. Lions Clubs International é uma organização internacional de clubes de serviço cujo objetivo é promover o entendimento entre as pessoas em uma escala internacional, atender a causas humanitárias, e promover trabalhos voltados a comunidades locais.</p>
                        </div>

                        <div class="local">
                            <p>Jaraguá do Sul, SC</p>
                        </div>

                        <div class="contatos">
                            <a href="https://apaejaragua.org.br/contato/"><img src="../img/icons/tel_am.svg" alt="" class="img1"></a>
                            <a href="https://apaejaragua.org.br/contato/"><img src="../img/icons/email_am.svg" alt="" class="img2"></a>
                            <a href="https://www.instagram.com/apaejaragua/"><img src="../img/icons/insta_am.svg" alt="" class="img3"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>