<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/censo.css">
    <link rel="stylesheet" href="/css/contato.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/solucoes.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/stylehome.css">
    <title>ADApt</title>
</head>
<body>
    {{!-- {{> navbar }} --}}

    <main>
        {{{ body }}}
    </main>

    {{!-- {{> footer }} --}}
</body>
</html>