<main>
        <div class="form">
            <p>CONTATE-NOS</p>

            <div class="content">
                <form action="">
                    <input id="form_item" type="email" class="email" placeholder="E-mail">
                    <input id="form_item" type="password" class="senha" placeholder="Senha">
                    <textarea required="" cols="50" rows="5" id="textarea" name="textarea" placeholder="Envie sua mensagem"></textarea>
        
                    <button type="submit">ENVIAR</button>
                </form>
    
                <div class="info">
                    <div class="title_info">
                        <p>Info</p>
                    </div>
        
                    <div class="infos">
                        <div class="local_info">
                            <p>Jaraguá do Sul (SC)</p>
                        </div>
            
                        <div class="tel_info">
                            <p>(47) 9999-9999</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>