
<main>
<section class="section-container">
  <div class="container-img-p">
      <img class="img-p" src="/assets/img/Rectangle 2.png" alt="Sua Imagem">
      <div class="text-box">
          <h2>Conheça-nos</h2>
          <p>O ADApt é capaz de fornecer propostas de intervenções acerca de melhoria de acessibilidade para as pessoas com deficiência, e propiciar o censo atualizado referente às pessoas com deficiência em Jaraguá do Sul, cidade de Santa Catarina.</p>
          <button>Saiba mais</button>
      </div>
    </div>
  
    <div class="titulo">
      <h1>Titulo Titulo Titulo</h1>
    </div>
  
    <section class="container-pcd">
      <div class="caixa">
        <img class="img-pcd" src="/assets/img/fisico.png" alt="Sua Imagem">
        <h3>Texto</h3>
      </div>
  
      <div class="caixa">
        <img class="img-pcd" src="/assets/img/visual.png" alt="Sua Imagem">
        <h3>Texto</h3>
      </div>
  
      <div class="caixa">
        <img class="img-pcd" src="/assets/img/auditivo.png" alt="Sua Imagem">
        <h3>Texto</h3>
      </div>
  
      <div class="caixa">
        <img class="img-pcd" src="/assets/img/intelectual.png " alt="">
        <h3>Texto</h3>
      </div>

  {{!-- <div class="box-3">
    <img
      src="/assets/img/cat01.jpg"
      alt=""
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    />
    <img src="/assets/img/cat02.jpg" alt="" />
    <img src="/assets/img/cat05.jpg" alt="" />
  </div>
  <div class="box-2">
    <img src="/assets/img/cat11.jpg" alt="" />
    <img src="/assets/img/cat08.jpg" alt="" />
  </div>
  <div class="box-1">
    <img src="/assets/img/cat04.jpg" alt="" />
  </div>
  <div class="box-3">
    <img src="/assets/img/cat12.jpg" alt="" />
    <img src="/assets/img/cat09.jpg" alt="" />
    <img src="/assets/img/cat06.jpg" alt="" />
  </div>
  <div class="box-2">
    <img src="/assets/img/cat03.jpg" alt="" />
    <img src="/assets/img/cat13.jpg" alt="" />
  </div>
  <div class="box-1">
    <img src="/assets/img/cat07.jpg" alt="" />
  </div> --}}
</section>
</main>


{{!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body img-container">
        <img src="/assets/img/cat01.jpg" alt="" />
      </div>
      <form method="post" id="interactionForm">
        <div class="barra-interacao">
          <button type="button" class="btn btn-outline-danger">❤</button>
          <input
            type="text"
            name="comment"
            class="input-comentario"
            placeholder="Escreva um comentário..."
          />
          <button type="submit">Enviar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seletor do botão de curtir
        var likeButton = document.querySelector('.btn-outline-danger');

        // Adiciona um ouvinte de eventos ao botão de curtir
        likeButton.addEventListener('click', function () {
            // Alterna a classe 'btn-danger' no botão
            likeButton.classList.toggle('btn-danger');
        });
    });
</script> --}}