<div class="sobre">
            <div class="texts">
                <div class="title_sobre">
                    <h1>Conheça nossa empressa:</h1>
                </div>
                <div class="txt_sobre">
                    <p>    Lorem  ipsum  dolor  sit amet,  consectetur adipiscing elit, s ed do eiusmod tempor incididunt ut labore. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id.</p><br>
                <p>     Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, voluptatibus neque blanditiis ea ullam illum quam quo odit modi excepturi! Numquam veritatis enim a nobis error quisquam recusandae, totam incidunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas tempora facilis ex velit consectetur vero at adipisci consequatur itaque, nemo fugiat iure reprehenderit libero accusantium. Atque dolorem maiores libero sed?</p>
                </div>
            </div>
            <div class="img_sobre">
                <img src="/assets/img/img_sobre.png" alt="">
            </div>
        </div>

        <div class="servicos">
            <div class="title_servicos">
                <p>NOSSOS SERVIÇOS</h1>
            </div>
            <div class="cards">
                <div class="linha1">
                    <div class="card_1">
                        <div class="title_card">
                            <img src="/assets/img/Vector.svg" alt="">
                            <h3>CADASTRO PERSONALIZADO</h3>
                        </div>
                        <div class="txt">
                            Cadastro adaptado a todos os usuários. Personalizado de acordo com suas necessidades.
                        </div>
                    </div>
    
                    <div class="card_2">
                        <div class="title_card">
                            <img src="assets/icons/undefined.svg" alt="">
                            <h3>EXPANÇÃO DE APOIO AO PCD</h3>
                        </div>
                        <div class="txt">
                            Divulgação de Associações de apoio às Pessoas Com Deficiência (PCD).
                        </div>
                    </div>
                </div>

                <div class="linha2">
                    <div class="card_3">
                        <div class="title_card">
                            <img src="assets/icons/censo.svg" alt="">
                            <h3>CENSO ATUALIZADO</h3>
                        </div>
                        <div class="txt">
                            Atualizar o censo de pessoas com deficiência na cidade Jaraguá do Sul automaticamente.
                        </div>
                    </div>
    
                    <div class="card_4">
                        <div class="title_card">
                            <img src="assets/icons/solucoes.svg" alt="">
                            <h3>SOLUÇÕES</h3>
                        </div>
                        <div class="txt">
                            Expandi soluções das associações de apoio ao PCD. Mostrando aos usuários os locais adaptados às suas necessidades.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button><a href="./pages/censo.html">CENSO</a></button>

        <button><a href="./pages/contato.html">CONTATO</a></button>